<div id="drives" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.drives"}}
    <a class="addItem" data-item-type="drive">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
    {{#if (any system.drives)}}
      {{#each system.drives as |drive|}}
        {{> "systems/wildsea/templates/shared/slim_item.hbs" drive type="drives"}}
      {{/each}}
    {{else}}
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
</div>
