<div class="mire flexrow">
  <div class="flex3 slimContextMenu" data-item-id="{{id}}" data-item-type="{{type}}">
    {{#if text}}
      <p>{{text}}</p>
    {{else}}
      <p><em>{{localize "wildsea.missing"}}</em></p>
    {{/if}}
  </div>
  <div class="">
    {{> "systems/wildsea/templates/shared/track.hbs" max=track.max value=track.value type=type}}
  </div>
</div>
