<div class="aspect item" data-item-id="{{id}}">
  <h3 class="light handle">
    <span class="itemContextMenu">{{name}}</span>
    {{#if system.stakes}}
    <small data-tooltip="{{localize "wildsea.stakes"}}">[{{system.stakes}}]</small>
    {{/if}}
    <small class="text-light-transparent">{{system.type}}</small>
  </h3>
  {{> "systems/wildsea/templates/shared/track.hbs" system.track id=id type=type}}
  <div class="drawer {{#if system.collapsed}}hidden{{/if}}">
    {{{system.enrichedDetails}}}
  </div>
</div>
