<div id="conditions" class="flex0">
  <div class="">
    <table>
      <thead>
        <tr>
          <th>{{localize "wildsea.effects"}}</th>
          <th class="right">
            <a class="addItem" data-item-type="effects">
              <i class="fas fa-plus"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#if (any effects)}}
          {{#each effects as |effect|}}
            <tr>
              <td>
                <a class="editEffect" data-effect-id="{{effect.id}}">{{effect.name}}</a>
              </td>
              <td class="right">
                <a class="deleteEffect" data-effect-id="{{effect.id}}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td class="center" colspan="2">
              {{localize "wildsea.none"}}
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
