<div class="form-group flexrow">
  <label class="flex1">{{localize label}}</label>
  <div class="form-fields flex3">
    <input type="number" name="{{field}}" value="{{#if value}}{{value}}{{else}}{{min}}{{/if}}" placeholder="{{localize label}}" class="corners" min="{{min}}" max="{{max}}" />
  </div>
</div>
