<p class="slimContextMenu padded rounded border-slim" data-item-id="{{id}}" data-item-type="{{type}}">
    {{#if text}}
      {{text}}
    {{else}}
      <em>{{localize "wildsea.missing"}}</em>
    {{/if}}
</p>
