@import url(./config.less);

body {
  .body-font();
  font-size: 0.8rem;
  background: @white;
  color: @black;

  h1,
  h2,
  h3,
  h4 {
    border-bottom: none;
    margin: 0 0 0.25rem;
    padding: 0;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}
